<template>
    <div class="flex items-center justify-center p-2 w-screen h-screen">
        <!-- component -->
        <div class=" w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col sm:w-1/2">
            <div class="mb-6">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
                    نام کاربری
                </label>
                <input v-model="email" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="email" type="text" placeholder="نام کاربری">
            </div>
            <div class="mb-6">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                    رمز عبور
                </label>
                <input v-model="password" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" type="text" placeholder="******************">
            </div>
            <div class="flex items-center justify-center">
                <button @click="login" class="w-full p-2 bg-blue-500 text-white hover:bg-blue-dark font-bold py-2 px-4 rounded" type="button">
                    ورود
                </button>
            </div>
        </div>
    </div>

</template>

<script setup >
import {onMounted, ref} from 'vue'
import {router} from "@inertiajs/vue3";

const props = defineProps({
    auth: Object,
    default: null
})

onMounted(()=>{
    if (props.auth !== null) {
        router.visit('/dashboard')
    }
})

const password = ref('')
const email = ref('')

async function login() {
    axios.post('/api/login',{email: email.value,password: password.value}).then(response=>{
        console.log(response)
        router.visit('/dashboard')
    }).catch(error=>{
        console.log(error)
    })
}
</script>

<style scoped lang="css">
#myCanvas {
    width: 100%;
    height: auto;
}
</style>
