<template>
    <div class="w-screen flex flex-col w-full items-start justify-start h-screen overflow-scroll">
        <div class="h-14 p-2 flex">
            <button @click="logout" class="bg-red-500 text-white shadow-md px-4 py-2 rounded-md cursor-pointer">خروج</button>
            <button @click="generate" class="mx-2 bg-gray-500 text-white shadow-md px-4 py-2 rounded-md cursor-pointer">ایجاد کوپن جدید</button>
        </div>
        <div class="flex-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
            <div class="w-full flex flex-wrap p-1" v-for="(ticket,i) in tickets" :key="i">
                <div class="w-full flex mb-2 flex-col bg-white shadow-md rounded-xl p-2">
                    <span class="p-1 text-center bg-green-500 text-white rounded-md" v-if="ticket.status === 0">استفاده نشده</span>
                    <span class="p-1 text-center bg-red-500 text-white rounded-md" v-if="ticket.status === 1">استفاده شده</span>
                    <span class="text-bold">ردیف : &nbsp;{{ticket.id}}</span>
                    <span class="text-bold">عنوان کمپین : &nbsp;{{ticket.title}}</span>
                    <span class="text-bold">شماره فاکتور : &nbsp;{{ticket.factor_number}}</span>
                    <span class="text-bold">کد کوپن : &nbsp;{{ticket.qr_code}}</span>
                    <span class="text-bold">تخفیف کوپن : &nbsp;{{ticket.percent}}</span>
                    <span class="text-bold">تعداد نفر کوپن : &nbsp;{{ticket.count}}</span>
                    <div class="">
                        <span>زمان استفاده : </span>
                        <span v-if="ticket.updated_at === ticket.created_at">استفاده نشده</span>
                        <span v-else>{{ moment(ticket.updated_at).format('HH:mm jYYYY-jMM-jDD ')}}</span>
                    </div>

                <div class="w-full my-2" style="border: 1px solid black"></div>
                    <div class="bg-gray-200 rounded-xl p-2 flex flex-wrap items-center justify-center">
                    <div class="w-full text-center text-xl text-bold">لینک کوپن</div>
                    <a class="w-full text-center" :href="`/qr/${ticket.qr_code}`" target="_blank">{{`http://dasticket.ir/qr/${ticket.qr_code}`}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script setup>
import {onMounted, ref} from 'vue'
import moment from 'moment-jalaali'
import {router} from "@inertiajs/vue3";
import { v4 as uuidv4 } from "uuid";

const props = defineProps({
    auth: Object,
    tickets: Array,
});

let a = ref('aaaaaaaa')

onMounted(()=>{
    if (props.auth === null) {
       return  router.visit('/')
    }
})


async function logout() {
    axios.post('/api/logout',{}).then(response=>{
        console.log(response)
        router.visit('/')
    }).catch(error=>{
        console.log(error)
    })
}
async function generate() {
    router.visit('/generate')

}

</script>
