<template>
        <div class="flex items-center justify-center p-2 w-screen h-screen">
            <!-- component -->
            <div class=" w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col sm:w-1/2">
                <div class="mb-2">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="title">
                        کمپین
                    </label>
                    <input v-model="title" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="title" type="text" placeholder="مثلا : باشگاه">
                </div>
                <div class="mb-2">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="percent">
                        درصد
                    </label>
                    <input v-model="percent" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="percent" type="text" placeholder="مثلا : ۱۰ ٪">
                </div>
                <div class="mb-2">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="count">
                        تعداد نفر
                    </label>
                    <input v-model="count" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="count" type="text" placeholder="مثلا : ۵ نفر">
                </div>
                <div class="flex items-center justify-center">
                    <button @click="generate" class="w-full p-2 bg-blue-500 text-white hover:bg-blue-dark font-bold py-2 px-4 rounded" type="button">
                        ایجاد کوپن
                    </button>
                </div>
            </div>
        </div>
</template>


<script setup >
import {v4 as uuidv4} from "uuid";
import { ref } from 'vue'

 const title = ref('')
 const percent = ref('')
 const count = ref('')

async function generate() {
    axios.post('/api/tickets',{
        title: title.value,
        qr_code: uuidv4(),
        percent: percent.value,
        count: count.value
    }
    ).then(response=>{
        console.log(response)
    }).catch(error=>{
        console.log(error)
    })
}
</script>


