<template>
    <div class="flex flex-col p-2 overflow-scroll">
        <div @click="download()" class="w-full flex items-center justify-center">
           <canvas id="myCanvas"></canvas>
           <qrcode-vue id="overlayCanvas" :value="`http://dasticket.ir/scan/${ticket_id}`" :size="150" hidden></qrcode-vue>
       </div>
        <div class="flex flex-wrap w-full p-2 text-center ">
            <div class="w-full text-bold text-2xl ord">   لطفا کد تخفیف خود را به صندوق ارائه دهید</div>
            <div class="w-full ord">برای دانلود روی تصویر ضربه بزنید</div>
        </div>

    </div>
</template>

<script setup >
import QrcodeVue from 'qrcode.vue'
import imagePath from '../../assets/images/new.png';
 const props = defineProps({
     ticket_id: String,
     isPercent: Boolean,
     isCount: Boolean,
     percent: String,
     count: String,
 });

// Load the main image (with the white space)
const baseImage = new Image();
baseImage.src = imagePath;

baseImage.onload = function() {
    const mainCanvas = document.getElementById('myCanvas');
    const ctx = mainCanvas.getContext('2d');
    mainCanvas.width = baseImage.naturalWidth;
    mainCanvas.height = baseImage.naturalHeight;
    // Draw the base image onto the main canvas
    ctx.drawImage(baseImage, 0, 0);

    // Assuming you've already drawn something onto the overlayCanvas
    const overlayCanvas = document.getElementById('overlayCanvas');

    // Set the position where you want to merge the overlayCanvas onto the main canvas
    // Adjust these values according to the position of the white space on your base image.
    const x = 380; // X-coordinate for the top-left corner
    const y = 450; // Y-coordinate for the top-left corner

    // Draw the overlayCanvas onto the mainCanvas
    ctx.drawImage(overlayCanvas, x, y);
    if (props.isPercent){
            // Fallback for browsers that don't support the Font Loading API.
            // You might use FontFaceObserver or just set a timeout.
            setTimeout(()=>{
                drawText(ctx,baseImage.naturalWidth-320,baseImage.naturalHeight-820,`٪${props.percent}`,20)
            }, 100);  // Waits for 1 second before drawing on canvas.

    }
    if (props.isCount){
            // Fallback for browsers that don't support the Font Loading API.
            // You might use FontFaceObserver or just set a timeout.
            setTimeout(()=>{
                drawText(ctx,baseImage.naturalWidth-420,baseImage.naturalHeight-580,`${props.count} نفر `,8)

            }, 100);  // Waits for 1 second before drawing on canvas.

    }

    function drawText(ctx,x,y, text,size) {
        ctx.font = `${size}rem ord`;  // You can set the size and the font name here
        ctx.fillStyle = '#202069FF';   // Text color
        ctx.textBaseline = "top";  // Optional: to position the text better
        ctx.fillText(text, x, y);  // You can set the position of the text here
    }
};


const download = function () {
    const canvas = document.getElementById('myCanvas');
    const dataURL = canvas.toDataURL('image/png');

    // Create a new anchor element
    const downloadLink = document.createElement('a');
    downloadLink.href = dataURL;

    // Provide a name for the downloaded image
    downloadLink.download = 'dast-ticket.png';

    // Append the anchor to the document body and click it to initiate the download
    document.body.appendChild(downloadLink);
    downloadLink.click();

    // Remove the anchor from the body
    document.body.removeChild(downloadLink);
}
async function logout() {
    axios.post('/api/logout',{}).then(response=>{
        console.log(response)
    }).catch(error=>{
        console.log(error)
    })
}

</script>

<style scoped lang="css">
#myCanvas {
    width: 100%;
    height: auto;
}
</style>
