<template>
    <div>
        <h1>Register</h1>
        <form @submit.prevent="register">
            <input  placeholder="Name">
            <input  placeholder="Email">
            <input  type="password" placeholder="Password">
            <input type="password" placeholder="Confirm Password">
            <button type="submit">Register</button>
        </form>
    </div>
</template>


<script setup >
async function register() {
    axios.post('/register',{name:'arman',email: 'arman@gmail.com',password: '12345',password_confirmation:'12345'}).then(response=>{
        console.log(response)
    }).catch(error=>{
        console.log(error)
    })
}

</script>

<style scoped lang="scss">

</style>


