<template>
    <div class="flex items-center justify-center p-2 w-screen h-screen">
        <!-- component -->
        <div class=" w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col sm:w-1/2">
                <div class="mb-6">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                        رمز عبور
                    </label>
                    <input v-model="password" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="password" type="text" placeholder="******************">
                </div>
                <div class="mb-6">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="factor_number">
                        شماره فاکتور
                    </label>
                    <input v-model="factor" class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="factor_number" type="text" placeholder="شماره فاکتور را وارد کنید">
                </div>
            <div class="flex items-center justify-center">
                <button @click="redeem" class="w-full p-2 bg-blue-500 text-white hover:bg-blue-dark font-bold py-2 px-4 rounded" type="button">
                    اسکن
                </button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue'
const props = defineProps({
    ticket_id: String,
});

const password = ref('')
const factor = ref('')
const redeem = () => {
    axios.post('/api/redeem',{
        ticket_id : props.ticket_id,
        secret_key: password.value,
        factor_number: factor.value
    }).then(response=> {
        console.log(response)
    })
}

</script>
