@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'yekan';
    src: url('fonts/Yekan.eot');
    src: url('fonts/Yekan.eot?#iefix') format('FontName-opentype'),
    url('fonts/Yekan.woff') format('woff'),
    url('fonts/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ord';
    src: url('fonts/ord.ttf');
    font-weight: bold;
    font-style: normal;
}
.ord {
    font-family: 'ord';
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    background: #e4e4e7;
}
* {
    font-family: 'yekan';
}

:root {
    --color-primary   : #155EEF;
    --color-accent : #26A69A;
    --color-secondary    : #9C27B0;
}
